
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>6313</h1>
    <p class="lead">Support Case Management Specialists</p>
    <p><a href="http://muppets.disney.com/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
