
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>6313</h1>
    <p class="lead">Thank you for registering - Please check your email and follow the link provided to confirm your account!</p>
</div>
