
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_menuPartial.cshtml", null, new ViewDataDictionary { { "VariableName", ViewBag.Data } })

<h2>Index</h2>

<div class="main">
    <div class="app-container"style="text-align:center">
        <div class="row">
            <div class="col-1">
                <a href="@Url.Action("Index", "Import", new { PortalId = ViewBag.Data }, null)">
                    <i class="fas fa-arrow-circle-down fa-5x" width="200" height="200"></i>
                    <h4>Data Imports</h4>
                </a>
            </div>
            <div class="col-1">
                <i class="fas fa-arrow-circle-down fa-5x" width="200" height="200"></i>
                <h4>Another admin task</h4>               
            </div>

            <div class="col-1">
                <i class="fas fa-arrow-circle-down fa-5x" width="200" height="200"></i>
                <h4>Another admin task</h4>
            </div>
        </div>
    </div>
</div>




